*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body{
  margin:0px;
}
#navbar {
  position: absolute;
}
#navbar h4 {
  color: black;
  margin-left: 100px;
  margin-top: 10px;
  font-size: 30px;
  text-shadow: 2px 2px white;
  font-weight: 400;
}
.brand-tittle {
  color: #fff;
  font-size: 70px;
  text-align: center;
}
.container-fluid {
  background: beige;
  height: 100%;
  width: 100%;
}
.container-fluid #about {
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('fullbackground.jfif');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}
.container-fluid .about-me {
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align:center;
}
.container-fluid .about-me h1 {
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  color: black;
}
.container-fluid .about-me h2, .container-fluid #about .about-me h3 {
  color: white;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.2em;
  font-size: 45px;
}
.team-container{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.team-container .team-member{
  padding-top: 40px;
  text-align: center;
}
.team-container .team-member .team-name{
  font-size: 35px;
  padding: 20px;
}
.team-container .team-member .team-image{
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto;
}
.introduction-container {
  height: 100%;
  padding-top: 150px;
  background: beige;
}
.introduction-container .profiles-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.introduction-container .profiles-container .profile-image-container {
  padding-right: 200px;
}
.introduction-container .profiles-container .profile-image {
  max-width: 500px;
  max-height: 500px;
}
.introduction-container .profiles-container .awards {
  padding-top:20px;
  width: 500px;
}
.introduction-container .profiles-container .awards .name {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0em;
  line-height: 1.1em;
  text-transform: none;
}
.introduction-container .profiles-container .awards .awardOwner h2 {
  margin-bottom: 0px;
}
.introduction-container .profiles-container .awards .awardOwner p {
  margin-bottom: 0px;
}
.introduction-container .profiles-container .awards .awardDetails {
  white-space: pre-line;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}
.introduction-container .profiles-container .awards .awardDetails .eachAward {
  display: flex;
  align-content: center;
}
.introduction-container .profiles-container .awards .awardDetails .eachAward img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-us {
  display: flex;
  padding: 20px;
}
.contact-us .mapCreater {
  width: 70%;
}
.contact-us .contact-us-info {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 30%;
}
.contact-us .contact-us-info .info {
  text-align: center;
}
.contact-us .contact-us-info .info h2 {
  margin-bottom: 0px;
}
footer{
  display: flex; 
  justify-content: center;
  padding: 25px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  margin:0px;
  padding:0px;
  font-family:'Open Sans', sans-serif;
}
body {
  /* BACKGROUND FROM: subtlepatterns.com */
  background:url(https://subtlepatterns.com/patterns/footer_lodyas.png);
}
.nav {
  list-style-type:none;
  display:flex;
  flex-wrap: nowrap;
  width:100%;
  background:#222;
}
.navItem, .navItem a {
  display:inline-block;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navItem a {
  width:100%;
  padding-top:30px;
  padding-bottom:30px;
  color:white;
  text-decoration:none;
  text-align:center;
  text-shadow: 1px 1px 2px rgba(34,34,34,0.4);
  font-weight:600;
  font-size:1em;
  
}
.navItem:nth-of-type(1) {
  border-bottom:2px solid #D60F3A;
}
.navItem:nth-of-type(1) a:hover {
  background:#D60F3A;
}
.navItem:nth-of-type(2) {
  border-bottom:2px solid #8317AD;
  
}
.navItem:nth-of-type(2) a:hover {
  background:#8317AD;
}
.navItem:nth-of-type(3) {
  border-bottom:2px solid #3116DE;
  
  
}
.navItem:nth-of-type(3) a:hover {
  background:#3116DE;
   
}
.navItem:nth-of-type(4) {
  border-bottom:2px solid #3116DE;
  
  
}
.navItem:nth-of-type(4) a:hover {
  background: yellow;
   
}
.navItem:nth-of-type(5) {
  border-bottom:2px solid yellow;
  
  
}
.navItem:nth-of-type(5) a:hover {
  background:#3116DE;
   
}
.navItem:nth-of-type(6) {
  border-bottom:2px solid green;
  
  
}
.navItem:nth-of-type(6) a:hover {
  background: green;
   
}

*{box-sizing: border-box;}
div.container {
width: 80%;
border: 1px solid gray;
margin: 0 auto;
}
header, footer {
padding-top: 1em;
color: white;
background-color:#393939;
clear: left;
text-align: center;
}
nav {
background-color: #918D8E;
padding: 10px;
}
nav ul {
list-style-type: none;
padding: 0;
margin: 0;
overflow: hidden;
background-color: #918D8E;
}
nav ul {
list-style-type: none;
padding: 0;
margin: 0;
background-color: #918D8E;
display: flex;
flex-direction: row;
justify-content: space-around;
}
nav ul li{
float: left;
width: 25%;
}
ul a {
text-decoration: none;
color: #fff;
}
article {
width: 100%;
border-left: 1px solid gray;
padding: 1em;
overflow: hidden;
}
.slideshow{
margin-top: 80px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.slideshow a{
flex-basis: auto;
}


#mainContent {
	margin: 0 auto; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar space when the content in #sidebar ends. */
	padding: 0;
	width: 900px;
	text-align: left;
	height: 100%;
} 

/* -------------------- main content specific styles ------------------*/


	
.section {
	width: 400px;
	background-repeat: no-repeat;
	position: relative;
	float:left;
	margin-right:40px;
	}
.overlay {
	position: absolute;
	overflow: hidden;
	height: 50px;
	width: 400px;
	-webkit-transition: all 1s ease-in-out .2s;
	-moz-transition: all 1s ease-in-out .2s;
	-ms-transition: all 1s ease-in-out .2s;
	-o-transition: all 1s ease-in-out .2s;
	transition: all 1s ease-in-out .2s;	
}
/* ---------------- Bios ----------------*/

.overlay:hover {
	height: 300px;
	top: 0px;
}

@media only screen and (max-width: 979px){
  .team-container{
    display: block;
  }
  .contact-us{
    display: block;
  }
  .contact-us .mapCreater {
    width: 100%;
  }
  .contact-us .contact-us-info{
    width: auto;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 740px){
  .introduction-container .profiles-container{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .introduction-container {
    display: flex;
  }
  .introduction-container .profiles-container .profile-image {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .introduction-container .profiles-container .awards{
    text-align: center;
  }
}
